<div class="container-fluid mt-5" id="viewArticle">
    <div class="row">
        <div class="col-md-2">
            <div class="sticky-top sticky-top-position">
                <nav class="navbar sticky-top">
                    <h5><u>On this page</u></h5>
                    <div class="container-fluid" id="pageNavigationNodes">                        
                    </div>
                </nav>
            </div>
        </div>
        <div class="col-md-8">
            <div id="articleTitle">
                <h4>{{article.title}}</h4>
            </div>
            <div class="article-introduction" [mapToHtml]="article.introduction"></div>
            <div class="article-description" pageNavigationTarget [mapToHtml]="article.description"></div>
        </div>
    </div>
</div>