<button class="btn btn-primary" type="button" (click)="openContent()">
    Open
</button>
<div class="row">
    <div id="write-article" class="mt-5 mx-auto border border-1 rounded shadow-sm col-6 p-3">
        <div class="header">
            <p>Ensure to do a proper research before writing a article. Make sure it is updated and properly sited according to the APA guidelines.</p>
        </div>
    
        <form [formGroup]="writeArticleForm" (ngSubmit)="saveArticle()">
            <div>
                Title
            </div>
            <div>
                <input formControlName="title" class="form-control col-12">
            </div>
            <div>
                Introduction
            </div>
            <div>
                <textarea style="height: 200px;" formControlName="introduction" class="form-control col-12"></textarea>
            </div>
            <div>
                Description
            </div>
            <div>
                <textarea style="height: 1000px;" formControlName="description" class="form-control col-12"></textarea>
            </div>
            <div class="col-12 text-end">
                <input type="submit" value="Add" class="btn btn-default">
            </div>
        </form>
    
    </div>
    <div id="write-article-preview" class="mt-5 mx-auto border border-1 rounded shadow-sm col-6 p-3">
        <div class="text-bold">
            <p class="bold">Preview</p>
        </div>
        <view-article [article]="writeArticleForm.value"></view-article>
    </div>
</div>
<!-- <div class="article-content">
    <div class="modal-header">
        <h4 class="modal-title">
            Heading
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="modal-body">
        <p>this is some content</p>
    </div>
</div> -->
