/* .sticky-top-position{
    top: 10px;
}

.content-section{
    display: block;
}

.content-image{
    padding: 5px;
}
    .content-image > img{
        max-width: 100%;
        margin: 0 auto;
    }
    .content-image[left] > img{
        float: left;
    }
    .content-image[right] > img{
        float: right;
    }

.content-info{
    color: blue;
    cursor: pointer;
}

     */
