<div id="write-content" class="mt-5 mx-auto border border-1 rounded shadow-sm col-12 p-5">
    <div class="header">
        <p>Ensure to do a proper research before writing a content. Make sure it is updated and properly sited according to the APA guidelines.</p>
    </div>
    
    <form [formGroup]="writeContentForm" (ngSubmit)="saveContent()">
        <div>
            <input formControlName="contentTitle" class="form-control col-12">
        </div>
        <div>
            <textarea formControlName="contentDescription" class="form-control col-12"></textarea>
        </div>

        <div class="col-12 text-end">
            <input type="submit" value="Add" class="btn btn-default">
        </div>
    </form>   
</div>